.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100%;
  background-color: #FEFEFE;
  overflow-y: auto;
}

.grid-container .sidebar {
  grid-area: sidebar;
  width: 200px;
  height: 100%;
  background: linear-gradient(to bottom, #90EE90, #98FB98);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  position: relative;
  z-index: 1;
}

.grid-container header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FEFEFE;
  color:#263043;
  padding: 10px;
  font-size: 40px;
}

.grid-container .main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FEFEFE;
  color:#263043;
  padding: 10px;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item>a {
  text-decoration: none;
  color:#222;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}

.radioContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px; /* Add gap between radio buttons and labels */
}

.grid-container .main form{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.grid-container form  .inputContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.grid-container form  .inputContainer label {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 8px;
}

.grid-container form  .inputContainer input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  width: 520px;
  height: 49px;
  border: 1px solid #5C73DB;
  border-radius: 12px;
  margin-bottom: 12px;
}

.grid-container form  .inputContainer .radioContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.grid-container form  .inputContainer .small-radio {
  width: 16px;
  height: 16px;
  margin-right: 8px; /* Adjust spacing to align properly with text inputs */
}

.grid-container .submit {
  height: 48px;
  width: 100px;
  background: #4763E4;
  border-radius: 12px;
  color: #fff;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 15px;
}

.grid-container .submit:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); 
  margin-top: 10px;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 500px;
  max-height: 80%; /* Limitar a altura máxima */
  overflow-y: auto; /* Adicionar rolagem vertical se necessário */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content .inputContainer {
  padding: 3px;
  width: 100%;
}

.modal-content .inputContainer input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 12px;
}

.modal-content .inputContainer label {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 8px;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.modal-content .submit {
  height: 48px;
  width: 120px;
  background: #4763E4;
  border-radius: 12px;
  color: #fff;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.modal-content .submit:hover {
  cursor: pointer;
  opacity: 0.8;
}