.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
  background-color: #1d2634;
  overflow-y: auto;
}

.grid-container .sidebar {
  grid-area: sidebar;
  width: 200px;
  height: 100%;
  background-color: #263043;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  position: relative;
  z-index: 1;
}

.grid-container .header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d2634;
  padding: 40px;
  font-size: 25px;
}

.grid-container .main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d2634;
  padding: 10px;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item>a {
  text-decoration: none;
  color: #9e9ea4;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}

.inputContainerRadio {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

}

.grid-container .main form{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.grid-container form  .inputContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.grid-container form  .inputContainer label {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 8px;
}

.grid-container form  .inputContainer input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  width: 520px;
  height: 49px;
  border: 1px solid #5C73DB;
  border-radius: 12px;
  margin-bottom: 12px;

}

.grid-container .submit {
  height: 48px;
  width: 100px;
  background: #4763E4;
  border-radius: 12px;
  color: #fff;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 15px;

}

.grid-container .submit:hover {
  cursor: pointer;
  opacity: 0.8;
}
